.cotainer{
	gri
}

header {
  display: flex;
  justify-content: space-between;
}

header,
.testimonials-container {
  margin: 0 auto;
  padding: 40px 10px 0;
  max-width: 1440px;
}

.hero {
  margin: 0;
  padding-right: 50px;
}

.hero > h1 {
  text-align: left;
}

.hero > p {
  text-align: left;
  margin: 0;
}

.ratings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating:first-child {
  transform: translateX(-8rem);
}

.rating:nth-child(0n + 2) {
  transform: translateX(-4rem);
}

.testimonials-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 310px;
}

.testimonial-card {
  margin: 0;
  min-height: 180px;
  height: 100%;
}

article:first-child {
  margin-right: 3rem;
}

article:nth-child(0n + 2) {
  transform: translateY(3rem);
  margin-right: 3rem;
}

article:nth-child(0n + 3) {
  transform: translateY(6rem);
}
