:root {
  --main-color: hsl(300, 43%, 22%);
  --secondary-color: hsl(300, 24%, 96%);
  --main-text: hsl(303, 10%, 53%);
  --aditional-txt: hsl(333, 80%, 67%);
}

/*Global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.6%;
  font-family: "Spartan", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  height: 100vh;
  font-size: 1.2rem;
  background-image: url(../images/bg-pattern-top-mobile.svg),
    url(../images/bg-pattern-bottom-mobile.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}

header,
.testimonials-container {
  margin: 0 auto;
  padding: 40px 20px 0;
  max-width: 1440px;
}

/*Hero section*/
.hero {
  max-width: 400px;
  margin: 0 auto;
}

.hero > h1 {
  color: var(--main-color);
  text-align: center;
  font-size: 3rem;
  padding: 40px 0 0;
}

.hero > p {
  color: var(--main-color);
  text-align: center;
  line-height: 1.6;
  max-width: 380px;
  padding-top: 20px;
}

/*Rating section*/
.ratings-container {
  padding: 40px 0 0;
}

.rating {
  background-color: var(--secondary-color);
  margin: 0 auto;
  margin-top: 1.3rem;
  text-align: center;
  line-height: 2;
  padding: 1rem 0;
  border-radius: 5px;
  width: 100%;
  min-width: 250px;
  max-width: 500px;
}

.rating__text {
  color: var(--main-color);
  font-weight: 700;
  text-align: center;
}

/*Testimonail section*/
.testimonial-card {
  background-color: var(--main-color);
  margin: 0 auto;
  margin-top: 1.3rem;
  padding: 2.5rem;
  color: var(--secondary-color);
  border-radius: 5px;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
}

.testimonial-card__author {
  display: flex;
  align-items: center;
}

.avatar img {
  border-radius: 50px;
  max-width: 40px;
  margin-right: 20px;
}

.metadata {
  line-height: 1.6;
}

.metadata p {
  color: var(--aditional-txt);
}

.testimonial-card__text {
  margin-top: 1.5rem;
  line-height: 1.6;
}

.attribution {
  margin: 40px 20px 0;
  text-align: center;
  font-size: 1rem;
}
