body {
  font-size: 1.5rem;
  background-image: url(../images/bg-pattern-top-desktop.svg),
    url(../images/bg-pattern-bottom-desktop.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}

.hero h1 {
  font-size: 4rem;
}

.rating {
  display: flex;
  justify-content: initial;
  align-items: center;
  padding: 1.5rem;
}

.rating__icons,
.rating__text {
  margin-left: 4rem;
}
